body{
    background-color: #E6FAFC;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 2em;
}

.myName{
    background-color: #6BA368;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
}

.content_index{
    margin-left: 20px;
}

.displayPicture{
    border-style: none;
    max-width: 200px;
    filter: drop-shadow(4px 4px 5px rgb(27, 26, 26));
    margin: 10px;
}

footer{
    background-color: #6BA368;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
}