body {
    width: 700px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
}

article picture img[data-src] {
  filter: blur(0.2em);
}

article picture img {
  filter: blur(0em);
  transition: filter 0.5s;
}